/* Fonts that are not horrible */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@600&family=Handlee&display=swap');

/* Remove default padding and margin from all elements */
::before,
::after{
  padding: 0px;
  margin: 0px;
}

:root{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*  */
/* Main Grid */
/*  */
.grid-main{
  display:grid;
  grid-template-columns: 400px 1fr;
}


/*  */
/* Form to Add New Book */
/*  */
.form-add-book{
  grid-column: 1 / 2;
  height: 100vh;

  border-right: 1px solid green;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.spaceBtwnColumns{
  padding: 0 15px;
}

.genreNF, .haveReadN{
  padding-left: 10px;
}

/*  */
/* Book grid */
/*  */
.grid-lib{
  grid-column: 2 / 3;
  height: 100vh;

  /* border: 1px solid black; */

  display: grid;
  /* resize: both; */
  /* overflow: auto; */
  /* grid-template-columns: repeat(auto-fit, minmax(425px, 1fr)); */
  grid-template-columns: repeat(auto-fit, min(425px));
  grid-template-rows: repeat(autofit);
  gap: 10px 10px;
}

.lib-item{
  width: 400px;
  height: 600px;
  /* border: 1px solid tan; */
  background-image: url("../images/book-cover-blue.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 100px repeat(6, 1fr);
  grid-template-rows: repeat(10, minmax(25px, 80px));
}

.lib-item-icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.lib-item-text{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.text-title{
  grid-column: 2 / 7;
  grid-row: 2 / 5;

  color: #104c91;
  font-family: 'Handlee';
  font-size: 32px;
  font-weight: 700;
}

.text-author{
  grid-column: 2 / 7;
  grid-row: 6 / 7;

  color: #efc9af;
  font-family: 'Arima';
  font-size: 24px;
}

.lib-item-graphic{
  grid-column: 2 / 7;
  grid-row: 5 / 6;

  display: flex;
}

.lib-item-graphic hr{
  align-self: center;
  width: 80%;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
}

/* Icon: Remove book from library */
.icon-remove{
  grid-column: 7 / 8;
  grid-row: 1 / 2;
}

.icon-remove img{
  width: 25px;
}

/* Icon: Fiction / Non-Fiction */
.icon-genre{
  grid-column: 2 / 4;
  grid-row: 10 / 11;
}

.icon-genre img{
  width: 35px;
}

/* Icon: Read / Not Read */
.icon-read{
  grid-column: 4 / 6;
  grid-row: 10 / 11;
}

.icon-read img{
  width: 35px;
}

/* Icon: Number of pages */
.icon-pages{
  grid-column: 6 / 8;
  grid-row: 10 / 11;
  /* border: 1px solid black; */
}

.icon-read pages{
  width: 35px;
}








