/* Font that isn't horrible */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Remove default padding and margin from all elements */
::before,
::after{
  padding: 0px;
  margin: 0px;
}

:root{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*  */
/* Book grid */
/*  */
.grid-lib{
  width: 1000px;
  height: 1000px;
  border: 1px solid black;

  display: grid;
  resize: both;
  overflow: auto;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(2, 200px);
  gap: 20px;
}

.grid-lib-item{
  width: 300px;
  height: 400px;
  border: 1px solid tan;
}


/*  */
/* Form to Add New Book */
/*  */
.form-add-book{
  height: 500px;
  width: 500px;
  border: 1px solid green;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.spaceBtwnColumns{
  padding: 0 15px;
}

.genreNF, .haveReadN{
  padding-left: 10px;
}


